body {
  background-color: rgba(0, 0, 0, 0.925);
  color: rgb(255, 255, 255);
  margin:0;
}


.main-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
  height: fit-content;
  border-radius: 5px;
  background-color: rgba(53, 45, 45, 0.781);
  border: solid;
  border-width: 2px;
  box-shadow: rgb(202, 211, 221) 0px 20px 30px -10px;
  display: block;
  overflow: auto;
  /*min-height: 100vh;*/
}

